.navigation {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  padding: 0 2.5rem;

  .nav-links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;

    .nav-link {
      padding: 0.625rem 0.9375rem;
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
}
