.categories-preview-title {
  margin-top: 4rem;
  font-size: 2.375rem;
  text-transform: uppercase;
}

.categories-preview-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.625rem;
  row-gap: 3.125rem;
}